<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="false"
         failOnNotice="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Architecture">
            <file>tests/ArchitectureTest.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <directory>app/DevTools/GitHooks</directory>
            <file>app/Models/User.php</file>
            <directory suffix="ServiceProvider.php">./app</directory>
            <directory suffix="Exception.php">./app</directory>
            <directory suffix="Factory.php">./app</directory>
            <file>app/Domain/Review/Rating.php</file>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
    <extensions>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension"/>
    </extensions>
</phpunit>
